.movie {
	margin-bottom: 10px;
}
img {
	height: 250px;
}
.pic-holder {
	position: relative;
}
.delete {
	position: absolute;
	top: 5px;
	left: 200px;
}
.watched{
	position: absolute;
	top: 5px;
	left: 220px;
}
.un-watched{
	position: absolute;
	top: 5px;
	left: 240px;
}